<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hisZy-edit" th:object="${hisZy}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaId" name="eaId" th:field="*{eaId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">病案号：</label>
				<div class="col-sm-8">
					<input id="eaAno" name="eaAno" th:field="*{eaAno}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">日报id：</label>
				<div class="col-sm-8">
					<input id="eaRbid" name="eaRbid" th:field="*{eaRbid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">日期：</label>
				<div class="col-sm-8">
					<input id="eaRq" name="eaRq" th:field="*{eaRq}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目编号：</label>
				<div class="col-sm-8">
					<input id="eaXmh" name="eaXmh" th:field="*{eaXmh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">部门号：</label>
				<div class="col-sm-8">
					<input id="eaBmh" name="eaBmh" th:field="*{eaBmh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaGfbz" name="eaGfbz" th:field="*{eaGfbz}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">执行科室编号：</label>
				<div class="col-sm-8">
					<input id="eaZxksh" name="eaZxksh" th:field="*{eaZxksh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">执行科室医生：</label>
				<div class="col-sm-8">
					<input id="eaZxysh" name="eaZxysh" th:field="*{eaZxysh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开单科室编号：</label>
				<div class="col-sm-8">
					<input id="eaKdksh" name="eaKdksh" th:field="*{eaKdksh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">医生编号：</label>
				<div class="col-sm-8">
					<input id="eaYsh" name="eaYsh" th:field="*{eaYsh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaJcdh" name="eaJcdh" th:field="*{eaJcdh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单价：</label>
				<div class="col-sm-8">
					<input id="eaDj" name="eaDj" th:field="*{eaDj}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">数量：</label>
				<div class="col-sm-8">
					<input id="eaSl" name="eaSl" th:field="*{eaSl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">金额：</label>
				<div class="col-sm-8">
					<input id="eaJe" name="eaJe" th:field="*{eaJe}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作工号：</label>
				<div class="col-sm-8">
					<input id="eaCzgh" name="eaCzgh" th:field="*{eaCzgh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaJzsh" name="eaJzsh" th:field="*{eaJzsh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaLx" name="eaLx" th:field="*{eaLx}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYzfhId" name="eaYzfhId" th:field="*{eaYzfhId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYeId" name="eaYeId" th:field="*{eaYeId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaLsYpid" name="eaLsYpid" th:field="*{eaLsYpid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYbbz" name="eaYbbz" th:field="*{eaYbbz}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYbzfbl" name="eaYbzfbl" th:field="*{eaYbzfbl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYbspbh" name="eaYbspbh" th:field="*{eaYbspbh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYbdj" name="eaYbdj" th:field="*{eaYbdj}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaXmgbh" name="eaXmgbh" th:field="*{eaXmgbh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaBxbl" name="eaBxbl" th:field="*{eaBxbl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaDbbz" name="eaDbbz" th:field="*{eaDbbz}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaZzysh" name="eaZzysh" th:field="*{eaZzysh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaDyylz" name="eaDyylz" th:field="*{eaDyylz}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaZkbmh" name="eaZkbmh" th:field="*{eaZkbmh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaCwh" name="eaCwh" th:field="*{eaCwh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaFhgh" name="eaFhgh" th:field="*{eaFhgh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaFhrq" name="eaFhrq" th:field="*{eaFhrq}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">系统id：</label>
				<div class="col-sm-8">
					<input id="eaXtid" name="eaXtid" th:field="*{eaXtid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYbcsbz" name="eaYbcsbz" th:field="*{eaYbcsbz}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaJcbz" name="eaJcbz" th:field="*{eaJcbz}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYjjcId" name="eaYjjcId" th:field="*{eaYjjcId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaIcuYbmh" name="eaIcuYbmh" th:field="*{eaIcuYbmh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYbdm" name="eaYbdm" th:field="*{eaYbdm}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaHismac" name="eaHismac" th:field="*{eaHismac}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYbspxz" name="eaYbspxz" th:field="*{eaYbspxz}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaTcsm" name="eaTcsm" th:field="*{eaTcsm}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYhSm" name="eaYhSm" th:field="*{eaYhSm}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaClxx" name="eaClxx" th:field="*{eaClxx}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaFbsm" name="eaFbsm" th:field="*{eaFbsm}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaZxbz" name="eaZxbz" th:field="*{eaZxbz}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYbzfje" name="eaYbzfje" th:field="*{eaYbzfje}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYbzlje" name="eaYbzlje" th:field="*{eaYbzlje}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaTxbfYbmh" name="eaTxbfYbmh" th:field="*{eaTxbfYbmh}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaFyfsrq" name="eaFyfsrq" th:field="*{eaFyfsrq}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaWybz" name="eaWybz" th:field="*{eaWybz}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="cisId" name="cisId" th:field="*{cisId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaBlsfxx" name="eaBlsfxx" th:field="*{eaBlsfxx}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYzlx" name="eaYzlx" th:field="*{eaYzlx}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="eaYhje" name="eaYhje" th:field="*{eaYhje}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/hisZy"
		$("#form-hisZy-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-hisZy-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
