<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							
							<li class="select-time">
								<label>核算日期：</label>
								<input type='text' class="form-control form_datetime" name="rq" id="rq" placeholder="核算日期" />
							</li>

						</ul>
					</div>
				</form>
			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
					<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
						<a class="btn btn-danger" onclick="javascript:hs()"><!--  shiro:hasPermission="system:kshs:hs" -->
								<i class="glyphicon glyphicon-hand-right"></i> 医技核算
						</a>
					</div>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
       
        var prefix = ctx + "system/kshs";
        
        $('#rq').datetimepicker({
       	 format: 'yyyy-mm',
            autoclose: true,
            todayBtn: true,
            startView: 'year',
            minView:'year',
            maxView:'decade',
            language:  'zh-CN',
       });

        
       function hs(rq) {
		    $.modal.confirm("确定要核算该月数据么？", function() {
		    	var data = $("#rq")
		        $.operate.post(prefix + "/hs",data);
		    })
		}
    </script>
</body>
</html>