<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-spdeptXm-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目编码：</label>
				<div class="col-sm-8">
					<input id="xmcode" name="xmcode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目名称：</label>
				<div class="col-sm-8">
					<input id="xmname" name="xmname" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">所属科室：</label>
				<div class="col-sm-8">
					<select class="form-control  selectpicker show-tick" multiple  data-max-options="1" data-live-search="true" data-live-search-placeholder="搜索" title="--请选择--"  name="sxks" style="center" data-style="btn-info" data-actions-box="true">
					    <option th:each="list:${session.list}" th:value="${list.deptId}" th:text="${list.deptName}"></option>
					</select>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/spdeptXm"
		
		$("#form-spdeptXm-add").validate({
			rules:{
				xmname:{
					required:true,
					remote: {
		                url: ctx + "system/spdeptXm/checkSpdeptXmNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"xmname" : function() {
		                        return $.common.trim($("#xmname").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				xmcode:{
					required:true,
					remote: {
		                url: ctx + "system/spdeptXm/checkSpdeptXmCodeUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"xmcode" : function() {
		                        return $.common.trim($("#xmcode").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
			},
			messages: {
		        "xmcode": {
		            remote: "项目编码已经存在"
		        },
		        "xmname": {
		            remote: "项目名称已经存在"
		        }
		    }
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/add", $('#form-spdeptXm-add').serialize());
	        }
	    }
	</script>
</body>
</html>
