<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-feetibi-edit" th:object="${feetibi}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">科室：</label>
				<div class="col-sm-8">
					<select class="selectpicker " data-live-search="true" data-live-search-placeholder="搜索" data-live-search-style="startsWith" name="deptid">
					    <option th:each="dept:${session.deptlist}" th:value="${dept.deptId}" th:text="${dept.deptName}" th:field="*{deptid}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">费用类别：</label>
				<div class="col-sm-8">
					<select class="selectpicker " data-live-search="true" data-live-search-placeholder="搜索" data-live-search-style="startsWith" name="feeid">
					    <option th:each="fee:${session.feelist}" th:value="${fee.id}" th:text="${fee.feename}" th:field="*{feeid}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">提纯比例：</label>
				<div class="col-sm-8">
					<input id="tibi" name="tibi" th:field="*{tibi}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">数据来源：</label>
				<div class="col-sm-8">
					<select id="flag" name="flag" class="form-control m-b" th:with="type=${@dict.getType('sys_data_type')}">
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{flag}"></option>
	                </select>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/feetibi"
		$("#form-feetibi-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-feetibi-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
